<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/NV_icon-Web.png" type="image/x-icon">
    <title>Pagina Principal</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap"
        rel="stylesheet">
    
	<link rel="stylesheet" th:href="@{/resources/css/estilos.css}"> 
    <!---LINKS PARA ICONS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <section class="header">
        <nav>
            <a href="index.html"><img src="../resources/img/White_logo-FrontN.png" alt=""></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a th:href="@{/usuario/login}">LOGIN</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>


        <div class="text-box">
            <h1>NV Instituto</h1>
            <p>Bienvenido a la pagina princpal del instituto NV Instituto. Estudia una
                Carrera en dos años para<br>gente que trabaja
            </p>
            <a href="" class="hero-btn">Visit Us To know More </a>
        </div>
    </section>

    <!-- COURSE-->
    <section class="course">
        <h1>Lenguajes Principales</h1>
        <p>Estos son los lenguajes más usados en empresas</p>

        <div class="row">
            <div class="course-col">
                <h3>C#</h3>
                <p>"C#" es un lenguaje de programación multiparadigma desarrollado y estandarizado por la empresa Microsoft 
					como parte de su plataforma .NET, que después fue aprobado como un estándar por la ECMA e ISO. C# es uno 
					de los lenguajes de programación diseñados para la infraestructura de lenguaje común.</p>
            </div>

            <div class="course-col">
                <h3>Javascrip</h3>
                <p>JavaScript es un lenguaje de programación interpretado, dialecto del estándar ECMAScript. Se define como 
					orientado a objetos, ​ basado en prototipos, imperativo, débilmente tipado y dinámico.</p>
            </div>

            <div class="course-col">
                <h3>SqlServer y Mysql</h3>
                <p>SQL es un lenguaje de dominio específico, diseñado para administrar, y recuperar información de sistemas 
					de gestión de bases de datos relacionales.<br> MySQL es un sistema de gestión de bases de datos relacional 
					desarrollado bajo licencia dual: Licencia pública general/Licencia comercial por Oracle Corporation y está considerada 
					como la base de datos de código abierto más popular del mundo.</p>
            </div>

        </div>
    </section>

    <!--CAMPUS-->
    <section class="campus">
        <h1>Conoce nuestras sedes</h1>
        <p>Tenemos 3 sedes en 3 diferentes distritos para que nuestros alumnos puedan asistir y experimentar en nuestros 
			<br>laboratorios actualizadoss</p>
        <div class="row">
            <div class="campus-col">
                <img src="../resources/img/london.png" alt="">
                <div class="layer">
                    <h3>INDEPENDENCIA</h3>
                </div>
            </div>

            <div class="campus-col">
                <img src="../resources/img/newyork.png" alt="">
                <div class="layer">
                    <h3>MIRAFLORES</h3>
                </div>
            </div>

            <div class="campus-col">
                <img src="../resources/img/washington.png" alt="">
                <div class="layer">
                    <h3>BELLAVISTA</h3>
                </div>
            </div>
        </div>

    </section>

    <!-- FACILITIES -->
    <section class="facilities">
        <h1>Tenemos talleres</h1>
        <p>Conoce nuestros talleres que cuenta la institucion</p>

        <div class="row">
            <div class="facilities-col">
                <img src="../resources/img/library.png" alt="">
                <h3>Biblioteca de clase mundial</h3>
                <p>Textos informativos. Aquellos en los que se le da al lector una serie de contenidos o informaciones
                    específicas junto
                    con las herramientas conceptuales o contextuales para comprenderlos</p>
            </div>

            <div class="facilities-col">
                <img src="../resources/img/basketball.png" alt="">
                <h3>Zona de deportes más grande</h3>
                <p>Textos informativos. Aquellos en los que se le da al lector una serie de contenidos o informaciones
                    específicas junto
                    con las herramientas conceptuales o contextuales para comprenderlos</p>
            </div>

            <div class="facilities-col">
                <img src="../resources/img/cafeteria.png" alt="">
                <h3>Talleres de comida</h3>
                <p>Textos informativos. Aquellos en los que se le da al lector una serie de contenidos o informaciones
                    específicas junto
                    con las herramientas conceptuales o contextuales para comprenderlos</p>
            </div>
        </div>
    </section>

    <!--TESTIMONIALES-->
    <section class="testimonial">
        <h1>Lo que dicen nuestros estudiante</h1>
        <p>Textos informativos. Aquellos en los que se le da al lector una serie de contenidos o informaciones
            específicas junto
            con las herramientas conceptuales o contextuales para comprenderlos</p>

        <div class="row">
            <div class="testimonial-col">
                <img src="../resources/img/user.png" alt="">
                <div>
                    <p>Textos informativos. Aquellos en los que se le da al lector una serie de contenidos o
                        informaciones específicas junto
                        con las herramientas conceptuales o contextuales para comprenderlos</p>
                    <h3>Muriel Martinez</h3>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
            </div>

            <div class="testimonial-col">
                <img src="../resources/img/user.png" alt="">
                <div>
                    <p>Textos informativos. Aquellos en los que se le da al lector una serie de contenidos o
                        informaciones específicas junto
                        con las herramientas conceptuales o contextuales para comprenderlos</p>
                    <h3>Marckus Kcofler</h3>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
            </div>
        </div>
    </section>

    <!--CALL TO ACTION-->
    <section class="cta">
        <h1>Inscríbase en nuestros diversos cursos en línea en cualquier lugar del mundo</h1>
        <a href="" class="hero-btn">CONTACTANOS</a>
    </section>

    <!--FOOTER-->
    <section class="footer">
        <h4>Sobre nosotras</h4>
        <p>Textos informativos. Aquellos en los que se le da al lector una serie de contenidos o informaciones
            específicas junto
            con las herramientas conceptuales o contextuales para comprenderlos</p>

        <div class="icons">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-likedin"></i>
        </div>

    </section>



</body>

</html>